@import url('https://fonts.googleapis.com/css?family=Material+Icons|Roboto:400,400i,700');
@import '~flexboxgrid/dist/flexboxgrid.css';

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 90%;
    margin: 2rem auto 0;
}


.news-item {
    margin-top: 2rem;

    &:first-child {
        margin-top: 0;
    }

    .news-link {
        color: #212121;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .news-item-media {
        overflow: hidden;
        max-height: 40rem;

        .news-link {
            color: #fff;
        }
    }

}